/* SignIn.css */
.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    /* Set the container to a relative position */
}

.icon-img {
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    left: 10px;
    /* Adjust the left position as needed */
    width: 50px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

form {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    margin-top: 16px;
}