#navHead{
    color: white;
    font-size:50pt;
    font-family:sans-serif-klavika;
}

#formBar {
    width: 50%;
    margin-right: 1%;
    text-align: end;
}

#searchBar{
    width: 30%;
    text-align: start;
}