div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#sideCol {
    align-self: flex-start;
}

#feedContainer{
    justify-content: first baseline;
}

body{
    display: inline;
}