

#commentImage{
    height: 50px;
    align-self: start;
    margin: 2%;
}

#commentCard {
    
    margin-top: 1%;
    border-color: transparent;
    border-radius: 25px;
    width: 80%;
    border-color: black;
    border-style: ridge;
    
}

#editOptions {
    margin: 1%;
    margin-bottom: 0%;
    float: right;

}

#commentEditInput{
    border-color: whitesmoke;
    border-radius: 10px;
    margin-right: 10px;
    width: 85%;
}

#commentEditConfirm{
    width: 10%;
    
    padding: 1%;
    margin-bottom: 10px;
}

