

#commentImage{
    height: 50px;
    align-self: start;
    margin: 2%;
}

#commentCard {
    
    margin-top: 1%;
    border-color: transparent;
    border-radius: 25px;
    width: 80%;
    border-color: whitesmoke;
    border-style: ridge;
    
}