#postRectangle {
    background-color: rgb(232, 253, 232);
    padding: 5%;
    border-radius: 25px;
}

.Post {
    margin-bottom: 50px;
    margin-top: 25px;
}



.rounded-circle {
    height: 75px;
    width: 75px;
    align-self: start;
}

.fs-7 {
    font-size: medium;
    padding: 0;
    margin: 0;
}

.btn-outline-success {
    width: 33%;
}

#commentsButton {
    border-style: none;
    padding: 0%;
    background-color: transparent;
}

#addCommentModal {
    padding: 100px;
    border-radius: 25%;
}



#postCard {
    margin-top: 5%;
    padding: 2%;
    padding-bottom: 0px;
    border-radius: 15px;
    border-color: lightgray;
    border-style: ridge;
    
}


#postImage {
    object-fit: contain;
    /* Or "contain" or "fill" */
    width: 75%;
    height: auto;
}

#imageContainer {
    margin-top: 5%;
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}