#postRectangle {
    background-color: rgb(232, 253, 232);
    padding: 5%;
    border-radius: 25px;
}

.Post{
    margin-bottom: 100px;
}



.rounded-circle {
    height: 75px;
    align-self: start;
}

.fs-7 {
    font-size: medium;
    padding: 0;
    margin: 0;
}

.btn-outline-success {
    width: 33%;
}

#commentsButton{
    border-style: none;
    padding: 0%;
    background-color: transparent;
}

#addCommentModal{
    padding: 100px;
    border-radius: 25%;
}

#commentInput{
    padding-bottom: 5%;
    width: 95%;
    margin: 2%;
    border-color: whitesmoke;
    
}

#textBox{
    text-align: center;
    border-radius: 10%;
}